@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Poppins:wght@400;700&display=swap');

:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    
    /* ### Neutral */
    
    --main-BG: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-BG);
    font-family: "Outfit", -apple-system, sans-serif;
    color: var(--White);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.card-container {
    padding: 25px;
    background-color: var(--card-BG);
    display: flex;
    flex-direction: column;
    width:350px;
    height:600px;
    padding:25px;
    border-radius: .5em;
    box-shadow: 0px 0px 30px 5px rgba(7, 11, 19, 0.75);
}

.card-container .Equilibrium {
    border-radius: .5em;
    max-width: 100%;
}

.card-image {
  position: relative;
  display: block;
}

.img-view svg {
  position: absolute;
  width:50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%)

}

.img-view {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width: 100%;
  background-color:hsla(178, 100%, 50%,0.5) ;
  display:none;
  border-radius:10px;
}

.card-image:hover .img-view  {
  display:block;
}

h3 {
    color: var(--White);
    margin: 1rem 0.5rem 0.5rem 0;
    font-weight: 600;
}
h3:hover {
    color: var(--Cyan);
    cursor: pointer;
}

.status {
    margin-bottom: -20px;
  }

.status ul {
    display: flex;
    place-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid var(--line);
  }

  .status ul li {
    list-style: none;
    
  }
  .eth {
    color: hsl(178, 100%, 50%);
    background-image: url(./images/icon-ethereum.svg);
    background-repeat: no-repeat;
    padding-left: 20px;
  }
  .clok {
    background-image: url(./images/icon-clock.svg);
    background-repeat: no-repeat;
    padding-left: 20px;
  }

 .profile {
     margin-top: 15px;
 }

  .creator {
    background-image: url(./images/image-avatar.png);
    background-repeat: no-repeat;
    padding-left: 35px;
    background-size: contain;
  }


  hr {
    width: 98%;
    background-color: hsl(215, 51%, 70%);
    height: .2px;
    border: none;
    
  }

  span {
    color: var(--White);
  }
  span:hover {
    color: var(--Cyan);
    cursor: pointer;
  }

  p {
      font-weight: 300;
      color: var(--Soft-blue);
      line-height: 1.4;
  }


  @media (min-width: 500px) {
    .card-container {
      width: 450px;
      margin: 0 auto 1rem;
    }
  }

  @media (max-width:425px) {
    .card-container {
        
        width:300px;
       height:550px;
        
    
    }
   
}

  .attribution { font-size: 11px; text-align: center; margin-top: 2em; }
    .attribution a { color: hsl(228, 45%, 44%); }
